    
<div >

<div id="footer-wrapper">
    
     <div class="row">

          <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
               <h4>Connect us</h4>
          </div>

     </div>




    <div id="footer" class="row">

       <ul id="footer-icons" class="desktop-12 tablet-6 mobile-3">
         <li>
            <a href="https://www.facebook.com/Richriverskateboards" target="_blank">
            <i class="fa fa-facebook-official" aria-hidden="true">
            </i>
            </a>
         </li>
         <li>
           <a href="https://www.youtube.com/Richriverskateboards" target="_blank">
            <i class="fa fa-youtube" aria-hidden="true" >
            </i>
            </a>
         </li>
         <li>
           <a href="https://www.instagram.com/Richriver_skateboards" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true">
            </i>
            </a>
          
         </li>
         <li>
           <a href="mailto:info@richriverskateboards.com">
             <i class="fa fa-envelope-o icon-3x" aria-hidden="true" >
            </i>
           </a>
         </li>
        </ul>
    </div>

   
  <div class="text-footer"> <p>&COPY; RICHRIVER SKATEBOARDS</p> </div>
</div>
  
</div>



      
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
     
     <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
     
   
    <script src="/js/menu.js"></script>
    
    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  
    
    <script src="/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
     

   
<script src="/js/main.js"></script>
  </body>
</html>